html, body {
    padding: 0;
    margin: 0;
}


img
{
    width: 100%;
    height: 300px;
}
main
{
    width: 40%;
   
   background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    float:left;
    position: fixed;
    padding:0;
    margin:0;
    height:100%;
}

h2.about-me 
{
    margin: 32px;
    font-family: 'roboto';
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    color: white;
}
p.about-description {
   
    margin: -25px 0px 0px 55px;
    color:#ffffff;
    font-family: 'roboto';
    font-size: 18px;
}
i.fa.fa-user-circle-o 
{
    margin: 20px;
}
p.personal-number 
{
    margin: 61px;
        color: white;
}
h2.personal-number
 {
    margin: 38px;
    font-family: 'acme'
}
p.personal-number2 
{
    font-family: 'acme';
    margin: 20px 20px 58px 73px;
        color: white;
}
p.personal-number1 
{
    margin: -42px 20px 22px 73px;
    
        color: white;
   
}
i.fa.fa-mobile 
{
    margin: 20px;
}
h2.mail-id1
 {
    font-family: 'acme';
    margin: 11px 0px 0px 36px;
}
p.id 
{
    font-family: 'acme';
    margin: 20px 20px 58px 73px;
    color: white;
}
p.id1 
{
    margin: -42px 20px 22px 73px;
    font-family: 'acme';
    color: white;
}
i.fa.fa-envelope-o 
{
    margin: 20px;
}
h2.location
{
    font-family: 'acme';
    margin: 11px 0px 0px 36px;
}
i.fa.fa-map-marker 
{
    margin: 20px;
}
p.location-address 
{
    font-family: 'acme';
    margin: 20px 20px 58px 73px;
    color: white;
}
p.location-address1 
{
    margin: -42px 20px 22px 73px;
    font-family: 'acme';
    color: white;
}
h2.skills1 
{
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    color: white;
    margin: 0px 0px 0px 0px;
    font-family: 'roboto';
    
}
ul {
  
    font-family: 'roboto';
    margin: 24px 18px 54px 48px;
    color:navy;
    list-style:none;
}
i.fa.fa-television 
{
    margin: 20px;
}
ul.skills-list
{
    font-family: 'roboto';
    margin: 24px 18px 54px 48px;
    color:navy;
    list-style: none;
}
main1 
{
    width: 60%;
    background: #efefef;
    float: right;
    position: relative;
    margin:0;
    padding:0;
}
span.skills 
{
    margin: 20px 20px 21px 121px;
    float: left;
    display: block;
    width: 70%;
    background-color: white;
    box-shadow: 10px 10px 5px 0px #888888;
}
span.border
{
   
    margin: 20px 20px 20px 123px;
    float: left;
    display: block;
    width: 70%;
    background-color: white;
    box-shadow: 10px 10px 5px 0px #888888;
}

span.my-education {
    margin: 12px 20px 20px 121px;
    float: left;
    display: block;
    width: 70%;
    background-color: white;
    box-shadow: 10px 10px 5px 0px #888888;
}
span.my-interest 
{

  
    margin: 12px 20px 20px 121px;
    float: left;
    display: block;
    width: 70%;
    background-color: white;
    box-shadow: 10px 10px 5px 0px #888888;
}
i.fa.fa-book
{
    margin: 35px 0px 0px 66px;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 50px;
}
i.fa.fa-user-circle 
{
   margin: 0px 0px 0px 33px;
   padding: 7px;
    border: 1px solid gray;
    border-radius: 50px;
}

i.fa.fa-coffee 
{
    margin: 0px 0px 0px 33px;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 50px;
}

i.fa.fa-trophy 
{
    margin: 0px 0px 0px 33px;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 50px;
}

i.fa.fa-internet-explorer 
{
    margin: 0px 0px 0px 33px;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 50px;
}

i.fa.fa-music 
{
   margin: 0px 0px 0px 33px;
   padding: 7px;
    border: 1px solid gray;
    border-radius: 50px;
}

i.fa.fa-plane 
{
    margin: -41px 20px 20px 45px;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 50px;
}

h2.my-experience 
{
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    color: white;
    margin: 0px 0px 0px 0px;

   font-family: 'roboto';
    
}
i.fa.fa-university 
{
    margin: 20px;
}
h2.education 
{
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    color: white;
    margin: 0px 0px 0px 0px;
    font-family: 'roboto';
    
}
i.fa.fa-graduation-cap 
{
    margin: 20px;
}
h2.interest 
{
    margin: 0px 0px 0px 0px;
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    color: white;
    font-family: 'roboto';
    
    
}
ul 
{
    font-family: 'roboto';
    margin: 50px 18px 54px 48px;
    color: navy;
}
p.presents
 {
    font-family: 'roboto';
    margin: 30px 18px 54px 84px;
    color: navy;
}
p.presents1
 {
    font-family: 'roboto';
    margin: -37px -18px 54px 135px;
    color: navy;
}
p.presents2 
{
    color: navy;
    font-family: roboto;
    margin: -44px 0px 0px 81px;
}
p.presents3 
{
    color: navy;
    font-family: roboto;
    margin: 11px 0px 0px 132px;
}
i.fa.fa-thumbs-o-up
 {
    margin: 20px;
}

.contact-section
 {
    font-family:'roboto';
    
 }
.mobile.number 
{
    margin: 28px 20px 18px 44px;
}
i.fa.fa-phone 
{
    margin: 20px;
}
.mail.id
 {
    display: block;
    margin: -25px 20px 20px 43px;
}
i.fa.fa-envelope-o 
{
    margin: 20px;
}
.location
{
    display: block;
    margin: -41px 20px 20px 45px;
}
i.fa.fa-map-marker
 {
    margin: 20px;
}

li.skills5 
{
    margin: 2px 0px 0px 0px;

}
i.fill 
{
    color: #0e0d0d;
    margin: 20px;
}

i.fill1 
{
    color: #181717;
    margin: -24px;
}
i.fill3
 {
    color: #1c1a1a;
    margin: 20px;
}
i.star1
{
    margin: -24px;
    color: #ff7eb3;
}
i.star2 
{
    margin: 19px;
    color: #ff7eb3;
}
i.fill4 
{
    color: #1a1919;
    margin: 30px;
}
i.fill5 
{
    color: #1c1818;
    margin: -34px;
}
i.star5 
{
    margin: 31px;
    color: #ff7eb3;
}
i.star3 
{
    margin: -33px;
    color: #ff7eb3;
}
i.star4 
{
    color: #ff7eb3;
    margin: 29px;
}
i.fill6
 {
    color: black;
    margin: 65px;
}
i.fill7 
{
    color: black;
    margin: -68px;
}
i.fill10 
{
    color: #ff7eb3;
    margin: 64px;
}
i.star6 
{
    margin: -66px;
    color: #ff7eb3;
}
i.star7
 {
    color: #ff7eb3;
    margin: 62px;
}
i.fill8
 {
    color: #0c0b0b;
    margin: 73px;
}
i.fill9 
{
    color: #181818;
    margin: -75px;
}
i.star13 
{
    margin: 70px;
    color: #ff7eb3;
}
i.star12 
{
    margin: -73px;
    color: #ff7eb3;
}
i.star14 
{
    color: #ff7eb3;
    margin: 69px;
}
.skills-list li img 
{
    width: 30px;
    height: 22px;
    vertical-align: bottom;
    margin: 0px 22px 0px 0px;
}
.education-list li img
{
   width: 30px;
    height: 22px;
    vertical-align: bottom; 
    margin: 0px 22px 0px 0px;
    border: 1px solid gray;
    border-radius: 50px;
    padding: 9px;
}
li.skills3
 {
    margin: 7px 0px 0px 0px;
}
li.skills4 
{
    margin: 7px 0px 0px 0px;
}
li.skills5 
{
    margin: 7px 0px 0px 0px;
}
li.skills2
 {
    font-family: 'roboto';
    color: navy;
    /* margin: 0px 0px 0px 2px; */
}
li.skills3
 {
    color: navy;
    font-family: 'roboto';
}
li.skills4
 {
    font-family: 'roboto';
    color: navy;
}
li.skills5 
{
    font-family: 'roboto';
    color: navy;
}
li.HSC1
 {
    margin: 0px 0px 0px 50px;
}
li.degree1
 {
    margin: 0px 0px 0px 51px;
}
p.book1 
{
    margin: 0px 0px 0px 58px;
}
li.degree 
{
    margin: 11px 0px 0px 0px;
}
p img 
{
    width: 30px;
    height: 22px;
    vertical-align: bottom;
    margin: 0px 22px 0px 0px;
}
h3.book1
 {
    color: navy;
    margin: 5px 0px 0px 60px;
}
li.degree2 
{
    margin: 0px 0px 0px 73px;
}
li.degree3 
{
    margin: 0px 0px 0px 73px;
}
li.Hsc3 
{
    margin: 0px 0px 0px 73px;
}
li.Hsc2 
{
    margin: 0px 0px 0px 73px;
}
li.degr 
{
    margin: -30px 0px 0px 75px;
}
li.hs
 {
    margin: -23px 0px 6px 73px;
}
h3.book2
 {
    color: navy;
    margin: -23px 0px 0px 120px;
}
h3.book3
 {
    color: navy;
    margin: -22px 0px 0px 199px;
}
h3.book4 
{
    color: navy;
    margin: -22px 0px 0px 265px;
}
h3.book5 
{
    color: navy;
    margin: -22px 0px 0px 327px;
}
h3.book6 
{
    color: navy;
    margin: -22px 0px 0px 406px;
}
h3.book7 
{
    color: navy;
    margin: -22px 0px 0px 466px;
}
li.impo
 {
    margin: -21px 0px 0px 263px;
}
li.impo1 
{
    margin: -21px 0px 0px 253px;
}
li.impo2 
{
    margin: -21px 0px 0px 219px;
}
li.impo3
 {
    margin: -21px 0px 0px 212px;
}

li.impo5 
{
    margin: -21px 0px 0px 265px;
}
li.impo6
 {
    margin: -21px 0px 0px 254px;
}
li.impo7 
{
    margin: -22px 0px 0px 220px;
}
li.impo8
 {
    margin: -21px 0px 0px 213px;
}